@charset "utf-8";
/* CSS Document */
body,h1,h2,ul,p,input,select{ margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none;}
#wrapper{ margin:0 auto;}

#header{ height:50px; background:#F2F2F2;}
#intro{ font-size:20px; color:#000; padding:16px 0 0 74px;}
#message{ position:absolute; left:1100px; top:16px;}
#message a,#intro a{ color:#666;font-size:18px; padding: 0 10px;}
#message a:hover,#intro a:hover{ color:#FF9500;}


#content{height:500px; margin:0 auto; background:#099; padding-top:50px;}
#mainContent{width:770px;height:450px;  margin:0 auto; background:url(../images/personal_bg.png) no-repeat;}
label{color:#000; font-weight: bold;}
#des,#name{width:500px;  margin:0 auto; padding-top: 50px; color: #666; text-indent: 24px;letter-spacing:4px; line-height: 24px;}
#footer{ height:50px; background:#f2f2f2;}



