<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.hdu.mapper.IllnessMapper">

	<!-- 根据科室id查出疾病 -->
	<select id="findIllnessesByDepartmentId" parameterType="string" resultType="illness">
		SELECT * FROM illness WHERE department_id = #{departmentId}
	</select>
	
	
	<!-- 根据疾病id查出疾病 -->
	<select id="findIllnessById" parameterType="string" resultType="illness">
		SELECT * FROM illness WHERE id = #{illnessId}
	</select>
	
	<!-- 根据疾病名称查出疾病 -->
	<select id="findillnessByName" parameterType="string" resultType="illness">
		SELECT * FROM illness WHERE name = #{name}
	</select>
	
	<!-- 每次查询医院时，将热度+1 -->
	<update id="updateHeat" parameterType="illness">
		UPDATE illness SET heat = heat + 1 WHERE id = #{id}
	</update>
	
	<!-- 根据热度查找医院 -->
	<select id="findHotIllnesses" resultType="illness">
		SELECT * FROM illness ORDER BY heat DESC LIMIT 0,5
	</select>
</mapper>

